---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,-cppcoreguidelines-avoid-magic-numbers,-hicpp-signed-bitwise,-readability-magic-numbers'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

